<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="bootstrap" version="4.6.0" targetFramework="net472" />
  <package id="Bootstrap.Wpf" version="0.0.9" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.31" targetFramework="net472" />

  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="17.3.0.9-beta" targetFramework="net472" />

  <package id="jQuery" version="3.0.0" targetFramework="net472" />
  <package id="popper.js" version="1.16.1" targetFramework="net472" />

</packages>